<div class="footerdiv">
    <div class="part">
        <div class="logo">
            <svg width="90" height="29" viewBox="0 0 90 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M89.983 13.2609C89.9337 16.1972 87.1764 19.5597 82.7451 19.6545V11.3664L82.7607 3.17313C83.3515 -0.899857 89.2775 -1.18402 89.9669 3.17313C89.9833 5.55693 90.0224 10.9118 89.983 13.2609Z" fill="#FFBA09"/>
                <path d="M82.7451 3.50465C82.7451 1.56909 84.3271 0 86.3394 0C88.3517 0 89.983 1.56909 89.983 3.50465V11.3664C89.983 13.302 88.3517 14.8711 86.3394 14.8711C84.3271 14.8711 82.7451 13.302 82.7451 11.3664V3.50465Z" fill="#FFBA09"/>
                <ellipse cx="86.3725" cy="25.1463" rx="3.62745" ry="3.56478" fill="#FFBA09"/>
                <path d="M26.1361 0.385254V28.9999H17.2777V17.845H8.85834V28.9999H0V0.385254H8.85834V10.6914H17.2777V0.385254H26.1361Z" fill="white"/>
                <path d="M38.98 7.49849V11.0551H47.7585V17.8046H38.98V21.8462H48.9556V28.9999H30.1216V0.385254H48.9556V7.49849H38.98Z" fill="white"/>
                <path d="M70.29 28.9999L65.1027 21.5633L60.7932 28.9999H50.6979L59.9952 14.248L50.2989 0.385254H60.7932L65.781 7.53891L69.9309 0.385254H80.0262L70.8885 14.8542L80.7843 28.9999H70.29Z" fill="white"/>
            </svg>
        </div>
    </div>
    <div class="part">
        <div class="texte">
            <span class="link">bonjour@hex-agency.fr  /  06 48 40 02 29</span>
        </div>
    </div>
    <div class="part">
        <div class="copyright">© HEX Agency. All rights reserved</div>
    </div>
</div>

