<div class="navbardiv">
    <div class="logo"><%= render 'components/logo' %></div>
    <div class="links">
        <span class="link">À propos</span>
        <span class="link">Qui sommes-nous ?</span>
        <span class="link">Expertises</span>
        <span class="link">Prix</span>
        <span class="link">FAQ</span>
    </div>
    <div class="btn-1"><div class="txt">Nous contacter</div></div>
</div>

