<div class="BoosterLesJE">
    <div class="divtxt">
        <div class="txt">
            <div class="title">Booster les J.E. 🚀</div>
            <div class="description">Nous accompagnons les Junior-Entreprises dans la construction d’une image de marque professionnelle et dans l’optimisation de leur performance. </div>
            <div class="btn-1"><div class="txt">J'accélère !</div></div>
        </div>
    </div>
    <div class="divformes">
        <div class="formes">
            <%= render 'components/multipleforms' %>
        </div>
    </div>
    <div class="form1"><%= render 'components/form1' %></div>
    <div class="form2"><%= render 'components/form2' %></div>
    <div class="form3"><%= render 'components/form3' %></div>
</div>
