<div class="BoosterLesJE">
    <div class="divtxt">
        <div class="txt">
            <div class="title">Booster les J.E. 🚀</div>
            <div class="description">Nous accompagnons les Junior-Entreprises dans la construction d’une image de marque professionnelle et dans l’optimisation de leur performance. </div>
            <div class="btn-1"><div class="txt">J'accélère !</div></div>
        </div>
    </div>
    <div class="divformes">
        <div class="formes">
            <div><%= render 'components/multipleforms' %></div>
        </div>
    </div>
    <div class="form1"><div class="form"><%= render 'components/form1', locals: {rotating: "rotating"} %></div></div>
    <div class="form2"><div class="form"><%= render 'components/form2' %></div></div>
    <div class="form3"><div class="form"><%= render 'components/form3' %></div></div>
</div>
