.footerdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #0000FF;
    .logo {
      padding-left: 100px;
    }
    .texte {
        color: #D9DBE1;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 15px;
    }
    .copyright {
        color: #D9DBE1;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        padding-right: 100px;
    }
  }
  
  