.form5a {
    .forms5a7 {
        position: relative;
        right: 0rem;
    }
    .forms5a6 {
        position: relative;
        right: -3rem;
    }
    .forms5a5 {
        position: relative;
        right: -6rem;
    }
    .forms5a4 {
        position: relative;
        right: -9rem;
    }
    .forms5a3 {
        position: relative;
        right: -12rem;
    }
    .forms5a2 {
        position: relative;
        right: -15rem;
    }
    .forms5a1 {
        position: relative;
        right: -18rem;
    }

}

.form5b {
    .forms5b7 {
        position: relative;
        right: 0rem;
    }
    .forms5b6 {
        position: relative;
        right: -4rem;
    }
    .forms5b5 {
        position: relative;
        right: -8rem;
    }
    .forms5b4 {
        position: relative;
        right: -12rem;
    }
    .forms5b3 {
        position: relative;
        right: -16rem;
    }
    .forms5b2 {
        position: relative;
        right: -20rem;
    }
    .forms5b1 {
        position: relative;
        right: -24rem;
    }

}

.formContact {
    .part {
        display: flex;
        margin: 5px 25px;
        .item{
            margin: 5px 5px;
            width: 100%;
            input, select, textarea {
                background-color: #0505A5;
                border: none;
                border-radius: 17px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 22px;
                color: #FFFFFF;
            }
            input::placeholder, select::placeholder, textarea::placeholder {
                color: #FFFFFF;
            }
        }
        .item2{
            margin: 5px 5px;
            flex-grow: 0.45;
            input, select {
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 22px;
                color: #FFFFFF;
                background-color: #0000FF;
                border: solid;
                border-width: 0px 0px 1px 0px;
                border-color: #FFFFFF;
            }
            input::placeholder, select::placeholder {
                color: #FFFFFF;
            }

        }
        .btn {
            margin: 5px 5px;
            width: 100%;
            display: flex;
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border: none;
                border-radius: 50%;
                background-color: #FFBA09;
                color: #0000FF;
                font-size: 30px;
            }
            input {
                background-color: #0000FF;
                border: none;
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 24px;

            }
        }
    }
}