.navbardiv {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 72px;
  width: 100%;
  background-color: #ffffff;
  .logo {
    margin-left: 100px;
  }
  .links {
    .link {
      color: #0000FF;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 16px;
      margin-left: 30px;
    }
  }
  .btn-1 {
    margin-right: 100px;
  }
}

